<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>

    <div class="container">
      <fieldset>
        <form action="/" method="post">
          <input name="city" type="text" class="ghost-input" placeholder="Enter a City" required>
          <input type="submit" class="ghost-button" value="Get Weather">
        </form>
        <% if(weather !== null){ %>
        <div class="weather-view-container">
          <h1>
            <%= weather.fiveDays.city.name %>,<%= weather.fiveDays.city.country %>
          </h1>
          <div class="temp">
            <div class="desc">
              <img src="http://openweathermap.org/img/wn/<%= weather.current.weather[0].icon
                        %>.png "alt="">
                        <h3><%= weather.current.weather[0].description %></h3>
            </div>
            <h1><%= weather.current.main.temp %>
              <span>&#8457;</span></h1>
          </div>

          <!-- five days forecast section -->
          <h1>Five Days Weather forecast</h1>
          <div class="five-days-forecast-container">
            <table>
              <tr>
                <th>Icon</th>
                <th>Date</th>
                <th>Temperature</th>
                <th>Description</th>
              </tr>

              <% for (let [index, data] of weather.fiveDays.list.entries() ||
              []){%>

              <!-- color seperation -->
              
              <tr class="<%= 
                          new
                          Date(weather.fiveDays.list[index].dt*1000).getDay()==0?'sun'
                          :
                          new Date(weather.fiveDays.list[index].dt*1000).getDay()==1?'mon'
                          :
                          new Date(weather.fiveDays.list[index].dt*1000).getDay()==2?'tue'
                          :
                          new Date(weather.fiveDays.list[index].dt*1000).getDay()==3?'wed'
                          :
                          new Date(weather.fiveDays.list[index].dt*1000).getDay()==4?'thu'
                          :
                          new Date(weather.fiveDays.list[index].dt*1000).getDay()==5?'fri'
                          :
                          'sat'
                          %>" >
                <td>
              <img src="http://openweathermap.org/img/wn/<%=
                        weather.fiveDays.list[index].weather[0].icon
                        %>.png "alt="">
                </td>
                <td>
                  <small>
                    <%=new Date(weather.fiveDays.list[index].dt*1000
                   ).toLocaleString('en-US', { hour12:true}) 
                   %>,
                   <b>
                     <%= new Date(weather.fiveDays.list[index].dt*1000
                   ).toLocaleString('en-US',{weekday:'long'})
                   %>
                   </b>
                  </small>

                </td>
                <td><%= weather.fiveDays.list[index].main.temp %>
                  <span>&#8457;</span>
                </td>
                <td>
                  <%= weather.fiveDays.list[index].weather[0].description %>
                </td>
              </tr>
              <%} %>
            </table>
          </div>
        </div>
        <% } %>

        <% if(error !== null){ %>
        <p><%= error %></p>
        <% } %>
      </fieldset>
    </div>
  </body>
</html>
